
<%- include("header"); -%>


<div class="bd-example-snippet bd-code-snippet "><div class="bd-example">
    <img class="abt" src="media/about1.jpg" height="500" width="100%" alt="">
      </div></div>
  
      <div class="container col-xxl-8 px-4 py-5">
          <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
              <img src="media/Logo.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
              <h1 class="display-5 fw-bold lh-1 mb-3">About <span class="us">Us</span></h1>
              <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea velit voluptatibus veritatis. Atque, et accusantium, aliquid eveniet quae suscipit, iure voluptate eaque eius hic enim nostrum sunt veritatis illo alias voluptatum dolore architecto aperiam debitis temporibus! Assumenda eius consequatur nam. A, voluptatem laborum quaerat, repellendus quae debitis, id quo quidem odio excepturi molestias nemo voluptate fuga? Modi eius animi error quod, consectetur eveniet est sapiente sunt ea. Nihil cumque quia dignissimos ex. Fuga, aperiam. Tenetur temporibus rerum ipsum voluptatibus cupiditate?.</p>
  
              
              
            </div>
            
          </div>
  
          <footer class="lead"> <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tempora ratione aspernatur eligendi quasi minus, id rerum quia quo non porro obcaecati ipsum ea consequuntur ut ipsa qui enim soluta quae! Dolorum veritatis inventore cumque facere, alias nemo perspiciatis quibusdam, ab ipsa ea assumenda ullam. Est qui sequi vero ipsa deleniti porro. A libero doloremque nostrum rerum sequi numquam perferendis possimus? Suscipit fugit beatae perferendis aspernatur, corporis omnis reprehenderit tempore sed ipsam eos dolorum illum recusandae repellat quasi totam, dignissimos distinctio veniam deserunt itaque provident! Commodi suscipit similique hic alias quia minima consequatur facere in veniam, vel eius aliquid architecto tenetur ad velit illum quae nesciunt sit temporibus voluptatibus voluptates aperiam, corporis adipisci. Magnam exercitationem a sint? Minus, asperiores quidem laudantium quod esse officiis dolor est aut similique? Eligendi sed sequi tenetur facilis, debitis perferendis delectus expedita ipsa quos saepe. Quidem est, ratione sequi, veritatis quod sit, autem beatae nesciunt id quaerat non obcaecati deleniti dolores explicabo dolore eum quos.
          </p>
          <ol><li>The decision you make it's on your own to make it right or wrong</li>
          <li>The decision you make it's on your own to make it right or wrong</li>
          <li>The decision you make it's on your own to make it right or wrong</li>
          <li>The decision you make it's on your own to make it right or wrong</li>
          <li>The decision you make it's on your own to make it right or wrong</li>
          <li>The decision you make it's on your own to make it right or wrong</li>
          <li>The decision you make it's on your own to make it right or wrong</li>
          <li>The decision you make it's on your own to make it right or wrong</li></ol>
      </footer>
  
      <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, ea ab. Corporis recusandae possimus repellendus natus. Consequuntur culpa illum placeat inventore, reprehenderit minus iustbr
          bro <br>maxime fuga voluptatum, dolore iure repellendus sunt officiis cum officia enim necessitatibus? Veniam voluptatibus animi rem laboriosam voluptate rerum ab iusto voluptatem earum impedit alias autem, recusandae aperiam, cum ad repellat consequuntur assumenda mollitia quos. Natus illum mollitia quod facilis incidunt optio ducimus maiores voluptatum, veritatis ullam quasi magni exercitationem quibusdam nemo ratione impedit vitae corporis.</p>
  
          <h1 class="display-5 fw-bold lh-1 mb-3">Our <span class="us">Goal</span></h1>
  
          <p class="lead">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam eligendi explicabo amet expedita commodi placeat mollitia nobis unde harum dignissimos. Beatae corrupti quam illum, mollitia sunt <br>doloribus dicta, hic sed quaerat laborum iusto, repellendus assumenda fugit at dolorem autem dolorum alias deleniti illo quod asperiores. Ducimus obcaecati inventore eveniet beatae?</p>
        </div>
  
     
     
      
     
  

<%- include("footer"); -%>
    
