
<%- include("header"); -%>
  

<section class="rabta">
    <div class="maal">
        <h2>Contact <span class="us">Us</span></h2>
        <p>Loes dolorloreamemque? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, harum nostrum repellat iste ipsum, distinctio optio voluptas temporibus, aut expedita praesentium impedit.</p>
    </div>
    <div class="tanki">
        <div class="rabtaM">
            <div class="dabba">
                
                <div class="alfaaz">
                    <h3 >Address </h3>
                    <p>House#1<br> Fasisal mehmood colony<br> Okara, Pakistan</p>
                </div>
            </div>
            <div class="dabba">
                
                <div class="alfaaz">
                    <h3>Phone </h3>
                    <p>0322-7028-560</p>
                </div>
            </div>
            <div class="dabba">
                
                <div class="alfaaz">
                    <h3>E-mail </h3>
                    <p>mohiudin7174@gmail.com</p>
                </div>
            </div>
        </div>
        <div class="rabtaForm">
            <form >
                <h2>Send Message</h2>
                <div class="andarDabba">
                    <input type="text" name="" required="required">
                    <span>Full Name</span>
                </div>
                <div class="andarDabba">
                    <input type="text" name="" required="required">
                    <span>Email</span>
                </div>
                <div class="andarDabba">
                    <textarea required="required"></textarea>
                    <span>Type your Message...</span>
                </div>
                <div class="andarDabba">
                    <!-- <input type="submit" value="send"> -->
                    <button type="button" id="sub" class="btn btn-outline-success">Send</button>
                </div>
            </form>
        </div>
    </div>

</section>

